# Python Built-in Types
### August 26, 2021

There are 8 data types that are native to the base Python library:
1. Numeric (integers, floating point numbers)
2. Boolean
3. String
4. List
5. Set
6. Tuple
7. Dictionary
8. Range

## Numeric data

In [1]:
three = 3

In [2]:
three

3

In [3]:
type(three)

int

In [4]:
three = 3.0
type(three)

float

In [5]:
three = int(three)
type(three)

int

In [7]:
three / 2

1.5

In [8]:
three * 2

6

In [9]:
three ** 2

9

## Boolean

In [10]:
light = True
type(light)

bool

In [11]:
light = true

NameError: name 'true' is not defined

In [12]:
light + 2

3

In [13]:
False * 2

0

## Sequence Data types

### Strings

Strings are sequences of characters.  They are *immutable*  - they can't be changed after they are created.

Strings are defined by putting them in quotes (single or double).

e.g., `this_string = 'that'`

In [17]:
name = 'Jason'
name

'Jason'

In [20]:
name[3]  # referencing the 4th letter

'o'

In [21]:
name[1:3]  # note that it didn't get name[3] -- goes up to, but not including the number after the column

'as'

In [22]:
name[1:4]

'aso'

In [23]:
name[-1]  #get the last character

'n'

In [24]:
name[-3:]  # get the last 3 characters

'son'

In [25]:
name[:3]  # first 3 characters

'Jas'

In [27]:
for letter in name:  # loop over letters in name
    if letter == 'o':
        print('Stopping')
        break
    else:
        print(letter)  # indent stuff that happens inside the for loop

J
a
s
Stopping

In [30]:
for position, letter in enumerate(name):
    print(name[position:position + 2])

Ja
as
so
on
n

## Lists

Lists contain sequences of objects.  The objects can be of any type AND you can mix types.

Square brackets define a list.  E.g., `this_list = [1, 2, 3]`

In [32]:
this_list = [1, 2, 3, 'a', 'b', 'c']
this_list

[1, 2, 3, 'a', 'b', 'c']

In [33]:
another_list = [this_list, 4, 5, 6]
another_list

[[1, 2, 3, 'a', 'b', 'c'], 4, 5, 6]

In [35]:
another_list * 2

[[1, 2, 3, 'a', 'b', 'c'], 4, 5, 6, [1, 2, 3, 'a', 'b', 'c'], 4, 5, 6]

In [36]:
for item in this_list:
    print(item * 2)

2
4
6
aa
bb
cc

In [37]:
this_list[0]

1

In [38]:
this_list[-3:]

['a', 'b', 'c']

In [39]:
this_list[-1]

'c'

In [41]:
this_list[-1] = 'z'
this_list

[1, 2, 3, 'a', 'b', 'z']

## Tuple

A Tuple is an ordered list.  It can contain mixed data types.  It differs from a list because it is *immutable*.  This means the elements of the tuple can't be changed after the tuple is created.

Tuples are defined by parentheses.  E.g. `this_tuple = (1, 2, 3)`

In [42]:
this_tuple = (1, 2, 3, 'd', 'e', 'f')
this_tuple

(1, 2, 3, 'd', 'e', 'f')

In [43]:
this_tuple[0]

1

In [44]:
this_tuple[1:3]

(2, 3)

In [45]:
for item in this_tuple:
    print(item * 2)

2
4
6
dd
ee
ff

In [46]:
this_tuple[-1] = 'z'

TypeError: 'tuple' object does not support item assignment

## Sets

Sets are sequeces of *unique* values.  Sets are mutable, like lists.

A set is defined by curly braces.  E.g., `this_set = {1 ,2 3}`

In [47]:
this_set = {1, 2, 3, 'a', 'b', 1, 4, 'b'}
this_set

{1, 2, 3, 4, 'a', 'b'}

In [48]:
this_set[0]

TypeError: 'set' object is not subscriptable

In [49]:
this_list[0]

1

In [51]:
for item in this_set:
    if type(item) is int:
        print(item)

1
2
3
4

In [53]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

## Dictionary

A dictionary is set of key and value pairs.  So we reference a item in a dictionary with its key.

A dictionary is defined by key-value pairs (where key and value separated by a colon, and key-value pairs separated by commas) in curly braces.  e.g., `this_dict = {'key1': 'value1', 'key2': 'value2'}`

In [54]:
addresses = {'Business Name': 'DMSB', 'Street': '1014 Greene St', 'City': 'Columbia'}
addresses

{'Business Name': 'DMSB', 'Street': '1014 Greene St', 'City': 'Columbia'}

In [55]:
addresses['Street']

'1014 Greene St'

In [56]:
addresses = {'Business Name': ['DMSB', 'CVS', 'Chick-fil-a'],
             'Street': ['1014 Greene St', 'Devine St', 'Harden St'],
             'City': ['Columbia']*3}

In [57]:
addresses['Street']

['1014 Greene St', 'Devine St', 'Harden St']

In [58]:
print(addresses['Business Name'][0], addresses['Street'][0])

DMSB 1014 Greene St

In [59]:
addresses[0]

KeyError: 0

In [60]:
for item in addresses.values():  # looop over values
    print(item)

['DMSB', 'CVS', 'Chick-fil-a']
['1014 Greene St', 'Devine St', 'Harden St']
['Columbia', 'Columbia', 'Columbia']

In [63]:
for item in addresses.keys():  # looop over keys
    print(item)

Business Name
Street
City

In [64]:
for k, v in addresses.items():  # loop over keys and values
    print('Key = ', k)
    print('Value = ', v)

Key =  Business Name
Value =  ['DMSB', 'CVS', 'Chick-fil-a']
Key =  Street
Value =  ['1014 Greene St', 'Devine St', 'Harden St']
Key =  City
Value =  ['Columbia', 'Columbia', 'Columbia']

In [66]:
addresses.keys()

dict_keys(['Business Name', 'Street', 'City'])

## Range

A range of values.  Ranges are *immutable*.

In [68]:
numbers = range(0, 10)
numbers

range(0, 10)

In [69]:
for i in numbers:  #not that it goes up to, but not including 10
    print(i)

0
1
2
3
4
5
6
7
8
9

# Numpy

[`Numpy`](https://numpy.org) is a package that allows for array operations + many other math functions.  It's a basic scientific computing package for Python and you can think of it as bringing the basic tools of Matlab to Python.

In [71]:
import numpy as np  # import numpy and give it an alias that is np

In [75]:
np.max([9, 19])  # max with Numpy

19

In [76]:
max(9, 19)  # max with standard library

19

In [77]:
# the basic data structure is an N-dimensional array
A = np.array([3, 5])
A

array([3, 5])

In [78]:
C = np.array(['c', 'd'])
C

array(['c', 'd'], dtype='<U1')

In [79]:
D = np.array(['c', 'd', 1, 3])  # numpy arrays can only have one data type
D

array(['c', 'd', '1', '3'], dtype='<U21')

In [81]:
D[3] * 3

'333'

In [82]:
A * 2

array([ 6, 10])

In [83]:
A ** 2  # default is element by element math, not matrix operations

array([ 9, 25])

In [84]:
np.dot(A, A)  #if want to do matrix operations, need to specify that

34

In [85]:
B = np.array([[3, 5], [4, 6]])
B

array([[3, 5],
       [4, 6]])

In [87]:
B[1][1]  # reference a specific cell in 2D array

6

In [88]:
B * A  # element by element, but with "broadcasting"

array([[ 9, 25],
       [12, 30]])

In [89]:
E = np.array([[3, 5, 5], [4, 6, 6]])
E

array([[3, 5, 5],
       [4, 6, 6]])

In [90]:
E * A

ValueError: operands could not be broadcast together with shapes (2,3) (2,)

In [91]:
E.T  # transpose of E

array([[3, 4],
       [5, 6],
       [5, 6]])

In [92]:
E.shape

(2, 3)

In [94]:
E.reshape((6, 1))

array([[3],
       [5],
       [5],
       [4],
       [6],
       [6]])

In [96]:
A[:]

array([3, 5])

In [97]:
B[:, 1]  # slide array along multiple dimensions

array([5, 6])

### Special arrays in Numpy

To help with commonly defined matrices, `Numpy` has a bunch of functions to create them with little work on your part.  These include arrays of all zeros, all ones, arrays of a size like something else, or an identity matrix

In [98]:
all_ones = np.ones((2, 2))
all_ones

array([[1., 1.],
       [1., 1.]])

In [100]:
all_zeros = np.zeros((2, 2, 2))
all_zeros

array([[[0., 0.],
        [0., 0.]],

       [[0., 0.],
        [0., 0.]]])

In [102]:
I = np.eye(2)
I

array([[1., 0.],
       [0., 1.]])

In [104]:
ones_of_size_like_another = np.ones_like(E)
ones_of_size_like_another

array([[1, 1, 1],
       [1, 1, 1]])